version: '3.8'

services:
  postgres_db:
    image: postgres:16
    container_name: consultorio_postgres
    environment:
      POSTGRES_DB: consultorio_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345678
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
